<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HearditV2 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EPCBZZQF98"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EPCBZZQF98');
</script>
<body>
    <header>
        <h1>HearditV2</h1>
        <nav>
            <!-- Future navigation links can go here -->
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 HearditV2. All rights reserved.</p>
    </footer>
    <script src="/static/js/game.js"></script>
</body>
</html>
